/* Reseteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Separadores */
.separador-horizontal{
 margin-top: 2em;
 margin-bottom: 2em;   
}

.separador-vertical{
    /* content: " "; */
    width: 1.5px;
    background-color: var(--light-blue);
    margin-right: 20px;
}


.no-seguis-container-wrapper{
    background-color: #3085d6;
    margin:0;
    margin: -20px;
    padding:20px;
    padding-top: 90px;     
     clip-path: polygon(100% 100%, 0 100%, 0 1.5%, 100% 0);
    /* margin-bottom: -40px; */
    /* A stacking context may be created by clip-path; ensure it sits behind the header/tooltips */
    position: relative;
    z-index: 0;

}

.resumen-containers-wrapper{
    background-color: #3085d6;
    margin:0;
    margin: -20px;
    padding:20px;
    padding-bottom: 90px;     
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    /* margin-bottom: -40px; */
    /* A stacking context may be created by clip-path; ensure it sits behind the header/tooltips */
    position: relative;
    z-index: 0;
}

@media (max-width: 682px){
    .resumen-containers-wrapper{
        background-color: #3085d6;
        margin:0;
        margin: -20px;
        padding:20px;
        padding-bottom: 50px;     
        clip-path: polygon(0 0, 100% 0, 100% 99%, 0 100%);
        position: relative;
        z-index: 0;
    }
 
    .no-seguis-container-wrapper{
        background-color: #3085d6;
        margin:0;
        margin: -20px;
        padding:20px;
        padding-top: 90px;     
        clip-path: polygon(100% 100%, 0 100%, 0 0.5%, 100% 0);
        /* margin-bottom: -40px; */
        /* A stacking context may be created by clip-path; ensure it sits behind the header/tooltips */
        position: relative;
        z-index: 0;
    }
}

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Irish+Grover&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monsieur+La+Doulaise&family=Montserrat&family=Open+Sans:wght@600&family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sixtyfour&family=Sixtyfour+Convergence&family=Tilt+Prism&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Colores */
:root{
    --primary-color: #03529c;
    --secondary-color: #2f079c;
    --danger-color: red;
    --light-blue: #3085d6;
    --purple:    #5E27F5;
}

/* Estilos */
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h2 {
    display: inline-block;
    color: #333; /* O blanco si el fondo es oscuro */
    font-size: 1.5rem;
    position: relative;
    padding-bottom: 5px;
}

h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Línea acentuadora corta */
    height: 4px;
    background: var(--light-blue);
    border-radius: 2px;
}

/* Vuelta para central el h2 que tiene display block */
section:has(h2) { 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.swal2-container {
    font-family: 'TuFuentePreferida', sans-serif !important;
}

header{
    background-color: var(--primary-color);
    position:sticky;
    top:0;
    color: white;
    font-family:  "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2em;
    padding: 12px;
    z-index: 10000;
    overflow: visible;
}

.encabezado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 55px;
}

main {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    /* border-left:#5E27F5 18px solid; */
    /* border-right:#5E27F5 18px solid; */
    padding: 20px;

}


li, .user-item, .user-item__activo, .user-item-no-seguido {
    list-style: none;
    margin: 8px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    cursor: pointer; 
}

a{
    text-decoration: none;
    color: #333;
}

[class^="user-item"].rojo { background-color: #ffcccc; }
[class^="user-item"].amarillo { background-color: #fff4b3; }
[class^="user-item"].verde { background-color: #ccffcc; }
[class^="user-item"].gris { background-color: #fff; }
/* Daixnota: [class^="user-item"] busca cualqueir clase que inicie con "user-item". En ese caso, sería lo mismo que si hiciera .user-item.rojo, .user-item__activo.rojo { background-color: #ffcccc; }
 */

button{
    background-color: var(--secondary-color);
    color: white;
    border-radius: 8px;
    padding: 6px 12px;
    border: none;
}

button:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}

.tag {
    margin: 8px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

input[type="radio"] {
    border: red 2px solid;

}

.semaforo{
    user-select: none;
}

#resumen-semaforo{
    display: none;
}

.por-colores{
    margin-top: 20px;
    border: dotted 1px #333;
    border-radius: 8px;
    padding: 1em;
    text-align: center;
    display: none;    
}

#amarillo, #verde, #rojo, #gris, #contenedor-amarillo, #contenedor-verde, #contenedor-rojo, #contenedor-gris{
    display: none;
    margin: 0.5em
}

.user-item__activo{
    border: 3px solid #919191d0;
    transform: scale(1.1);
    filter:saturate(110%);
    margin:12px;
    position: relative;
}

.user-item__activo::after{
content: "";
  opacity: 60%;
  filter: saturate(900%);
  border-radius: 8px;
 position: absolute; 
 inset: 0; 
 background: inherit; /* copia el fondo */ 
 z-index: 0; 
}

.user-item__activo > * { position: relative; z-index: 1; /* que el texto quede arriba */ }

.mini-loader {
    width: 12px;
    height: 12px;
    border: 2px solid rgba(0,0,0,0.1);
    border-top: 2px solid #555;
    border-radius: 50%;
    display: inline-block;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

@media (min-width: 1200px) {
    .semaforo-grid-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



/*  */
#no-te-siguen-list{
    text-align: center;
    margin-top:1.25em;
}

#no-seguis-list{
    text-align: center;
    margin-top:1.25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px ;
    color: white;
}



.divisor2 {
    display: block;
    border:none;
    width: 95%;
    height: 50px;
    margin: 45px auto 10px;
    box-shadow: 0 -10px 15px -10px rgba(0,0,0,0.3);
}
