* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

li {
    list-style: none;
    margin: 8px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

a{
    text-decoration: none;
    color: #333;
}

.tag {
    margin: 8px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

input[type="radio"] {
    border: red 2px solid;

}

/* Voy a hacer acá un botón con forma de semáforo que al presionar alterne una propiedad en html (null, rojo, amarillo, verde) al hacerle clic y ello cambie el color de borde o de fondo del div contenedor */